.navbar-toggler-icon{
  color: #fff !important;
  fill: #fff !important;
}
.nav {
  background: steelblue;
  display: flex;
  position: relative;
  padding: 1.3rem;
}

.nav h4:nth-child(1) {
  margin: 0 1rem;
}

.nav-list{
  display: flex;
  width: 90%;
  justify-content: flex-end
}

.nav-list a {
  color: #fff;
  margin: 0 1rem;
  transition: all .3s;
  text-decoration: none !important;
}
.nav-list a:hover {
  color: rgb(39, 30, 43);
  margin: 0 1rem;
}


.footer{
  padding: 1rem;
}
