.navbar-toggler-icon{
  color: #fff !important;
  fill: #fff !important;
}
.nav {
  background: steelblue;
  display: flex;
  position: relative;
  padding: .3rem;
}

.nav h4:nth-child(1) {
  margin: 0 1rem ;
  position: relative;
  top: 27px;
}

.nav-list{
  display: flex;
  width: 90%;
  justify-content: flex-end
}

.nav {
  color: #fff;
}

.nav i{
  font-size: 2rem;
  color: #fff;
  position: relative;
  top: 27px;
}
.nav-list a {
  color: #fff;
  margin: 0 1rem;
  transition: all .3s;
  text-decoration: none !important;
}
.nav-list a:hover {
  color: rgb(329, 230, 143);
  transform: scale(1.1);
  margin: 0 1rem;
}


.footer{
  padding: 1rem;
}
